.contacto-asesor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-contacto {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 0 0;
}

.redes-asesor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}