@use "../utilities/mixins" as *;

%texto-centrado {
    text-align: center;
}

.general-sobreMi {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "contenedor-sobreMi"
    "imagen-sobreMi"
    "mis-valores";
}


.contenedor-sobreMi {
    grid-area: contenedor-sobreMi;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.sobremi-main {
    @extend %texto-centrado;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.descripcion-sobremi {
    @extend %texto-centrado;
    font-size: 15px;
}

.imagen-sobreMi {
    grid-area: imagen-sobreMi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.ilustrativa-sobremi {
    width: 300px;
    max-width: 100%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.texto-sobreMi {
    font-size: small;
}

.mis-valores {
    grid-area: mis-valores;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.titulo-valores {
    @include texto(20px, bold);
    margin: 0 auto;
}

.lista-sobremi {
    font-size: 15px;
    width: fit-content;
    margin: 0 auto;
    text-align: start;
}