@use "../utilities/variables" as *;

.footer-proyecto {
  background-color: $bg-header-footer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
}

.cabecera-footer {
  color: $colorTexto-header-footer;
  font-weight: bold;
}

.redesFooter {
    &:visited {
        color: $colorTexto-header-footer;
    }
}
.coloresTextoFooter {
  color: $colorTexto-header-footer;
}